@import url("./var.css");

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 17, 29);
    color: rgb(210, 210, 210);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    
    display: flex;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100vw;
    background: rgba(1, 22, 42, 0.68);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    justify-content: center;
    z-index: 1;
}

nav a {
    padding: 5px;
}

.logo {
    position: absolute;
    top: 0;
    margin-left: 20px;
    width: 10vw;
    background-color: red;
    text-align: center;
    height: 10vh;
    z-index: 2;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: var(--main-geral-color);
    height: auto;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section{
    background-color: var(--main-geral-color);
    height: 100vh !important;
    /* position: relative; */
    overflow: hidden;
    background-position: 50% 50%;


}

#sec01 {
    background-image: url("..//assets/img/home/universe.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    --webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}


#sec01 .container h1 {
    text-transform: uppercase;
    
}

#sec02{
    background-color: rgb(1, 10, 28);
    
}

#sec02 .container {
    
    background: none;
    border-radius: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    width: 100vw;
}


.container h1 {
    margin: 100px 0;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    justify-content: center;
    text-align: justify;
    
}

.skills div {
    border: 1px white solid;
    padding: 20px;

}

.icon {
    font-size: 2rem;
}

.skills p {
    padding: 20px 0;
    width: 20vw;
}

#sec03{
    background-color: rgb(0, 44, 44);
    justify-content: center;
    align-items: center;
}

#sec03 .container {
    background: none;
    border-radius: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    max-width: 90vw;

}

#projetos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90vw;
    height: 100%;
    margin-top: 30%;
    background-color: yellowgreen;

}

.projetos-grid01  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    height: 100%;
    width: 50vw;
}
.projects01 {
    width: 15vw;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: red;
}

.projects02 {
    width: 30vw;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: red;
    margin: 20px auto;
    
}

.projects03 {
    width: 20vw;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: red;
    /* margin: 100px 0; */
}

#sec04{
    background-color: rgb(1, 44, 44);
}
#sec05{
    background-color: rgb(0, 23, 23);
}