@import url("./var.css");


.projects-desc {
    height: 100vh !important;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url("../assets/img/home/astronauta.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 100%;
    --webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    justify-content: center;
}

.projects-desc::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(1, 10, 28, 1) 100%);
}


.desc {
    width: 30vw;
    margin: 10vh 5vw;
    z-index: 1;
}

.projects-desc h1 {
    font-size: 4rem;
}

#projects-button {
    width: 30vw;
    display: flex;
    padding: 5vh 5vw;
    cursor: pointer;
    z-index: 1;
}

#projects-button a {
    color: black;
}

#projects-button button {
    margin-right: 20px;
    padding: 10px;
    border: none;
    width: auto;
}

#projetos-img {
    max-width: 90vw;
    margin: 100px auto;
}

.projetos-item-img img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.up-page a svg {
    font-size: 4rem;
    bottom: 0;
    right: 0;
    margin: 0 0 20px 20px;
}

.iconspg-container {
    display: flex;
    justify-content: center;
}

.iconspg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    margin: 0 10px 0 0;
    padding: 5px;

}

.iconspg svg {
    font-size: 1.5rem;
}

.iconspg:hover {
    padding: 6px;
    border: 1px solid var(--main-geral-color);
    -webkit-box-shadow: 3px 3px 36px -7px rgba(3, 65, 128, 0.89);
    -moz-box-shadow: 3px 3px 36px -7px rgba(3, 65, 128, 0.89);
    box-shadow: 3px 3px 36px -7px rgba(3, 65, 128, 0.89);
}

.backend-items {
    display: flex;
    align-items: center;
    height: 100vh !important;
    justify-content: space-between;
    background-image: url("../assets/img/home/astronauta.png");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: 100%;
}

.backend-items::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(1, 10, 28, 1) 100%);
}

.backend-items .projects-desc {
    background-image: none;
    margin: 0;
    width: 50vw;
}

.backend-items .tec .iconspg-container {
    margin-left: 500px;
    margin: auto;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.backend-items .iconspg {
    width: 90%;
    text-align: center;
    margin: 0;
    padding: 10px 0;

}

.backend-items svg {
    color: white;
    font-size: 2rem;
}

@media (max-width: 650px) {
    .projects-desc {
        background-size: cover;
    }

    .projects-desc::before {
        content: '';
        width: 100vw;
        height: 100vh;
    }

    .desc {
        width: 50vw;
    }

    #projects-button {
        width: 70vw;
    }

}

@media (max-width: 500px) {
    .desc {
        width: 90%;
    }

    #projects-button p {
        font-size: .6rem;
        font-weight: bold;
    }

    #projects-button button {
        width: auto;
    }

    .iconspg p {
        font-size: .6rem;
    }

    /* ==================================== */
    .backend-items {
        flex-direction: column;
        background-size: cover;
        align-items: center;
        justify-content: start;
    }

    .backend-items::before {
        content: '';
        width: 100vw;
        height: 100vh;
    }

   
    .backend-items .projects-desc {
        width: 100%;
        justify-content: space-evenly;
        
    }
    .backend-items .projects-desc h1{
        font-size: 3rem;
    }

    .backend-items .tec .iconspg-container h1{
        display: none;
    }

    .backend-items .tec .iconspg-container{
        flex-direction: row;
        width: 100vw;
    }
    .backend-items .tec .iconspg-container p, svg{
       padding-top: 5px;
    }
    .backend-items .tec {
        z-index: 1;
    }

    .desc {
        margin: 0 auto;
    }



}