*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  
  
}
body{
  
    background-color: #273858;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
    width: 100%;
    height: 100%;
    
    
}

@keyframes bg {
  from {
    scale: 1.3;
    rotate: 4deg;
  }

  to {
    scale: 1.2;
    rotate: 2deg;
  }

  /* 100% {
    scale: 1.3;
    rotate: 3deg;
  } */
  
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}


.App{   
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;


  
}

.App::before{
  content: '';
  background: url("./components/img/bg.jpg") center no-repeat fixed;
  /* animation-duration: 30s;
  animation-direction: alternate;
  animation-name: bg; */
  animation: bg 30s alternate infinite;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
 .shadow{
    -webkit-box-shadow: 0px 1px 14px -3px #d000ff91; 
    box-shadow: 0px 1px 14px 3px #d000ff91;
 }

 .outline{
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  -webkit-text-fill-color:transparent;
  transition: all 0.1s ease-in-out;
 }

 .outline:hover{
  -webkit-text-stroke: 0;
  background-image: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(68,6,94,1) 24%, rgba(121,99,9,1) 67%, rgba(0,212,255,1) 100%);
  background-clip: text;
  
  
 }

 .link{
  text-decoration: none;
  color: white;
}


.fa{
  margin: 15px 0;
  margin-right: 25px;
}