*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  
  
}
body{
  
    background-color: #273858;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;        
    width: 100%;
    height: 100%;
    
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.App{   
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;

}

.App::before{
  content: '';
  background: url("./components/img/bg.jpg") center no-repeat fixed;
  animation: bg 30s alternate infinite;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

@keyframes bg {
  from {
    scale: 1.5;
    rotate: 6deg;
  }

  to {
    scale: 1.2;
    rotate: 2deg;
  }

}
 .shadow{
    -webkit-box-shadow: 0px 1px 14px -3px #d000ff91; 
    box-shadow: 0px 1px 14px 3px #d000ff91;
 }

 .outline{
  font-family: Syncopate, sans-serif;
  font-size: 28px;
  -webkit-text-stroke: 0.5px rgb(255, 255, 255);
  -webkit-text-fill-color:transparent;
  transition: all 0.1s ease-in-out;
 }

 .outline:hover{
  -webkit-text-stroke: 0;
  background-image: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(68,6,94,1) 24%, rgba(121,99,9,1) 67%, rgba(0,212,255,1) 100%);
  background-clip: text;
  
  
 }

 .link{
  text-decoration: none;
  color: white;
}


.fa{
  margin: 15px 0;
  margin-right: 25px;
}

a{
  text-decoration: none;
  font-family: 'PT Sans, sans-serif',

}

p{
  font-family: 'PT Sans, sans-serif',
}

.m-links{
  width: 30vw; 
  height: 40vh; 
  margin: 0 30px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.note{
  animation: note 5s alternate infinite;
  
}

img{
  width: 100px;
}

span{
  font-family: PT Sans, sans-serif;
   display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes note {
  from {

    rotate: 25deg;
  }

  to {
    rotate: 0deg;
  }

  
}

@media (max-width: 500px) {

  h1{
    font-size: 2rem;
    background-image: linear-gradient(25deg, rgba(2,0,36,1) 0%, rgba(68,6,94,1) 24%, rgba(121,99,9,1) 67%, rgba(0,212,255,1) 100%);
    background-clip: text;
  }

  .outline{
    -webkit-text-stroke: 0px rgb(255, 255, 255);
    margin-bottom: 50px;

   }
   .note{
    display: none;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  .m-links{
    width: 80vw; 
    height: 40vh; 
  
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  span{
    /* background-color: red; */
    width: 100%;
  }
  
}